QMenu {
    border-radius:8px;
    border:2px solid rgb(243, 243, 243);
    background-color:rgba(250, 250, 250, 0.96);
    color:rgb(26, 26, 26);
}

QMenu::item{
    padding-left:20px;
    padding-right:20px;
    min-height:25px;
}
QMenu::item:selected {
    background-color: rgb(0, 95, 184);
    border-radius:4px;
    padding-left:20px;
    padding-right:20px;
    color:white;
}
QMenu::icon {
    padding-left:20px;
}